<%= render :partial => 'search' %>
<% if @products.present? %>
<ul>
<% @products.each do |product| %>
  <li><%= render :partial => '/products/list_item', :locals => {:product => product} %></li>
<% end %>
</ul>
<% end %>
